body{
    background-color: black;
    text-align: center;
    align-items: center;
    font-family: screenMatrix;
    /* Add this when in game */
    /* touch-action: none; */
}

canvas {
    display: block;
  }

@font-face {
    font-family: screenMatrix;
    src: url(ScreenMatrix.ttf);
}

h1{
    color: red;
    font-size: 700%;
}

p{
    color: white;
    font-size: 200%;
}

/* Menu */
.menuSection{
    display: contents;
}

div {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}

button {
    font-family: screenMatrix;
    background-color: transparent;
    color: white;
    border-style: solid;
    font-size: 500%;
    width: 100%;
    margin: 5px; /* or whatever you like */
  }

  @media only screen and (max-width: 760px) {
    button {   font-size: 10vw; }
    .howToPlayText{font-size: 10vw;}
  }
  
.playButton:hover{
    background-color: green;
}

.howToPlayText{
border-style: solid;
padding: 2%;
}

.howToPlayButton:hover{
    background-color: 	#B3AD04;
}

.hiddenItem{
    display: none;
}

/* Level Selection Section */
.levelSelection{
  display: contents;
}

.easyButton{
  background-color: #005200;
}

.easyButton:hover{
  background-color: green;
}

.meduimButton{
  background-color: #505000;
}

.meduimButton:hover{
  background-color: 	#999403;
}

.hardButton{
  background-color: #4f0000;
}

.hardButton:hover{
  background-color: #8f0909;
}

.backButtonLevelSelection:hover{
  background-color: #8f0909;
}

/* Easy Level Section */
.easyLevelSelection{
  display: contents;
}

.easyLevelSelectionItems{
  background-color: #005200;
}

.easyLevelSelectionItems:hover{
  background-color: green;
}

.backButtonEasyLevelsSelection{
  background-color: transparent;
}
.backButtonEasyLevelsSelection:hover{
  background-color: #8f0909;
}

/* Medium Level Section */
.mediumLevelSelection{
  display: contents;
}

.mediumLevelSelectionItems{
  background-color: #505000;
}

.mediumLevelSelectionItems:hover{
  background-color: 	#999403;
}
.backButtonMediumLevelsSelection{
  background-color: transparent;
}
.backButtonMediumLevelsSelection:hover{
  background-color: #8f0909;
}

/* Hard Level Section */
.hardLevelSelection{
  display: contents;
}

.hardLevelSelectionItems{
  background-color: #4f0000;
}

.hardLevelSelectionItems:hover{
  background-color: 	#8f0909;
}
.backButtonHardLevelsSelection{
  background-color: transparent;
}
.backButtonHardLevelsSelection:hover{
  background-color: #8f0909;
}

/* Game */
canvas {
  position: relative;
  bottom: +100px;
  display: flex;
  margin: auto;
  margin-top: 0px;
  /* border: 5px solid #3D0000; */
}
.time{

}

.gameBackButton{
  margin-bottom: 50px;
}

.gameBackButton:hover{
  background-color: #8f0909;
}

/* footer section */
footer {
    margin: auto;
    margin-top: 80px;
    font-size: 1rem;
    padding-top: 0px;
  }
  
  .imgNima{
    width: 1.5rem;
  }
  
  .footerText{
    color: #950101;
  }

  .moveFooter{
    position: relative;
    /* bottom: -850px; */
    bottom: -400px;
  }
  
  a{
    text-decoration: none;
    
    color: #DBEDF3;
  }
  
  a:hover{
    color: #a2b0b4;
  }

